button {
  font-family: var(--title-font);
  font-weight: 900;
  border-radius: 0.5rem;
  font-size: var(--base-font-size);
  background-color: var(--button-color);
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.25)); */
  border: 0.25rem solid var(--button-border-color);
  color: white;
  line-height: 100%;
  cursor: pointer;
  animation-duration: 210ms;
  animation-iteration-count: infinite;
  transform: scale(1);
  line-height: 100%;
  transition: transform var(--swap-speed) ease;
}
button:disabled {
  background-color: gray !important;
  border-color: #333;
  color: #ccc;
  opacity: 0.85;
}
button.busy {
  border-color: pink !important;
  animation-name: busy-button;
}
button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.025), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.025));
}
button.pressed {
  transform: scale(0.97);
}
button.bounced {
  transform: scale(1.02);
}
button.bottom-nav {
  height: 8vh;
  padding: 0;
  font-size: var(--nav-font-size);
  width: 28vw;
}
.lower-nav-panel button.bottom-nav {
  height: 7vh;
  justify-content: center;
}
.cancel-button {
  background-color: var(--warning-button-color);
  border-color: var(--warning-button-border-color);
}
.back-button {
  width: 28vw;
}
.style-toggle-button {
  font-family: var(--secondary-font);
  width: 100%;
  padding: 0;
  padding: calc(var(--small-font-size) / 1.5);
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: rgb(82, 75, 75);
  border-radius: 0.25rem;
  transition: background-color 210ms, border-color 210ms ease;
  border: 0.1rem solid rgb(102, 83, 83);
  font-size: var(--medium-font-size);
}
#custom-button {  
  background-color: rgb(105, 74, 8);
}
.style-toggle-button.selected {
  background-color: rgb(83, 114, 85) !important;
  border-color: white;  
}

.mode-toggle-button {
  background-image: none;
  border-radius: 0.2rem;
  font-family: var(--secondary-font);
  background-color: rgb(104, 74, 74);
  padding-top: 1.25vh;
  padding-bottom: 1.25vh;
  padding-left: 5%;
  padding-right: var(--small-font-size);
  border: 0.1rem solid rgb(126, 84, 84);;  
  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size);
  transition: background-color 210ms, border-color 210ms ease;
  cursor: pointer;
  width: 100%;
}
.mode-toggle-button.selected {
  background-color: rgb(83, 114, 85);
  border-color: white;  
}
.mode-toggle-button:after {
  content: ' OFF';
  white-space: pre;
}
.mode-toggle-button.selected:after {
  content: ' ON';
  white-space: pre;
}
#view-container #main-button.not-ready {
  background-color: var(--warning-button-color);
  border-color: var(--warning-button-border-color);
  pointer-events: none;
}
#view-container #main-button {
  border-width: 0.75vh;
  background-color: var(--special-button-color);
  width: 75%;
  justify-self: center;
  min-height: 12vh;
  transition: transform var(--swap-speed) ease, background 420ms ease, border 420ms ease;
}
#history-button, #rules-button {
  padding: 0;
  padding: var(--small-font-size);
  font-size: var(--large-font-size);
  /* background-color: rgb(36, 90, 36); */
  height: 100%;
  width: 34vw;
}
#choose-ruleset-button, #submit-feedback-button {
  width: 46vw;
}
#clear-button:disabled {
  pointer-events: none;
}
#submit-feedback-button:disabled {
  color: gray;
  background-color: #444;
}
.remove-invalid-string-button {
  width: 100%;
  height: 100%;
  border-radius: 0.1rem;
  border-width: 0.05rem;
  font-size: 0.3rem;
  padding: 0;
}
#rules-screen .add-invalid-string-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  outline: 0.4vh solid var(--button-border-color);
  width: calc(var(--medium-font-size) * 4);
  height: calc(var(--medium-font-size) * 2);
}
#rules-screen .string-delete-button, 
#rules-screen .string-edit-button {
  font-family: var(--title-font);
  font-weight: 900;
  /* position: absolute; */
  /* transform: translateX(-0%); */
  /* bottom: 0.25vh; */
  border-radius: 2px;
  font-size: calc(var(--small-font-size) / 3);
  border-width: 1px;
  /* width: 3vw; */
  padding: 0;
  height: calc(var(--small-font-size) / 1.5);
  padding: calc(var(--small-font-size) / 8);
  background-color: red;
  border-color: rgb(106, 15, 15);
  pointer-events: none;
}
#rules-screen .string-edit-button {
  background-color: var(--warning-button-color);
  border-color: var(--warning-button-border-color);
}
#rules-screen .add-invalid-button {
  font-family: sans-serif;
}

@keyframes busy-button {
  0% {
    border-color: white;
  }
  100% {
    border-color: red;
  }
}