#confirm-shade {
  z-index: 15;
  justify-content: flex-start;
}
#confirm-modal {
  margin-top: 7.5vmin;
  padding: 10vw;
  width: 85vmin;
  height: 85vmin;
  background-color: hsl(0, 0%, 7%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;  
  transform: translateY(-10%);
  border-radius: var(--button-border-radius);
  transition: transform 210ms ease, opacity 210ms ease;
}
#confirm-modal.showing {
  opacity: 1;
  transform: translateY(0);
}
#confirm-title {
  width: 100%;
  font-size: var(--name-font-size);
}
#confirm-button-area {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.confirm-button {
  width: 100%;
  height: 45%;
}
#cancel-logout-button {
  background-color: var(--warning-button-color);
  border-color: var(--warning-button-border-color);
}