

#feedback-panel {
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 13vh;
  height: 89vh;
  /* transform: scale(0.1); */
  background-color: hsl(0, 0%, 7%);
  transition: opacity 210ms ease, transform 210ms ease;
  transform-origin: center center;
}
#feedback-info-message {
  position: absolute;
  top: var(--small-font-size);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  z-index: 5;
  /* background-color: black; */
}
#feedback-title {
  text-align: center;
  font-family: var(--title-font);
  /* line-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 140%;
  font-size: calc(var(--name-font-size) / 1.25);
  flex-wrap: wrap;
  height: 40%;
  white-space: pre;
  font-weight: 900;
}
#feedback-title > div {
  margin: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background: orange; */
}
.name-unit {  
  margin: calc(var(--base-font-size) / 12);
  border: calc(var(--base-font-size) / 32) solid transparent;
  border-radius: calc(var(--base-font-size) / 8);
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 0 black;
}
.name-unit.selected {
  border-color: white;
}
.name-letter {
  /* padding: calc(var(--base-font-size) / 6);
  padding-top: calc(var(--base-font-size) / 9);
  padding-bottom: calc(var(--base-font-size) / 9); */
  /* outline: 1px solid red; */
  min-width: calc(var(--name-font-size) / 1.2);

}
.name-letter.selected {
  color: red;
  outline: 1px solid white
}
#feedback-title .consonantStarters {
  background-color: #00ff0016;
}
#feedback-title .consonantEnders {
  background-color: #ff000016;
}
#feedback-title .vowelUnits {
  background-color: #f2ff0016;
}
#feedback-title .literal {
  box-shadow: none;
  background: #1e1e1e;
}
#feedback-title .repeater {
  color: rgb(134, 134, 140);
}
#feedback-title .literal.space {
  width: var(--small-font-size);
  box-shadow: none;
  background-color: transparent;
}
#feedback-article {
  font-size: var(--medium-font-size);
  height: var(--medium-font-size);
}
#feedback-selected-display {
  border-radius: 0.25rem;
  border: 0.1rem solid rgb(37, 57, 37);
  font-size: var(--base-font-size);
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  height: 15%;
}
#feedback-button-area {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1vh;
}
.feedback-select-toggle {
  font-size: var(--medium-font-size);
  font-family: var(--secondary-font);
  background: #333;
  border-radius: 0.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  height: 100%;
  border: 0.25vh solid rgb(10, 53, 10);
  cursor: pointer;
  transition: border-color 105ms ease, background-color 105ms ease;
}
.feedback-select-toggle.disabled {
  background-color: rgb(51, 51, 51, 0.5);
  color: gray;
  border-color: transparent;
  pointer-events: none;
}
.feedback-select-toggle.selected {
  background-color: green !important;
  color: #dedede;
  border-color: white;
}
#feedback-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#feedback-footer button {
  margin: 3vw;
  font-size: var(--nav-font-size) !important;
}
#feedback-panel.hidden {
  /* transform: scaleX(0.7) scaleY(0.1); */
  transition-duration: 105ms;
  transform: scaleX(0.75) scaleY(0.5);
  opacity: 0;
  /* pointer-events: none; */
}