

#feedback-panel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-bottom: 11vh;
  height: 90vh;
  /* transform: scale(0.1); */
  background-color: hsl(0, 0%, 7%);
  transition: opacity 210ms ease, transform 210ms ease;
  transform-origin: center center;
  border-radius: var(--button-border-radius);
}
#feedback-info-message {
  position: absolute;
  top: var(--small-font-size);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  z-index: 5;
  /* background-color: black; */
}
#feedback-title {
  text-align: center;
  font-family: var(--title-font);
  /* line-height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  line-height: 140%;
  font-size: calc(var(--name-font-size) / 1.25);
  flex-wrap: wrap;
  height: 30%;
  white-space: pre;
}
#feedback-title > div {
  margin: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* background: orange; */
}
.follower-selection-area {
  width: 100%;
  height: 45vh;
  display: flex;
  /* align-items: stretch; */
  /* justify-items: center; */
  /* align-items: center; */
  /* font-size:var(--medium-font-size); */
  border: 0.25vh solid rgb(30, 29, 29);
  border-radius: 1vw;
  padding: 1vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#follower-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
  height: 30vh;
  margin-bottom: 2vh;
}
#follower-inputs input {
  width: calc(var(--name-font-size) * 5.5);
  height: calc(var(--name-font-size) * 1.5);
}
.name-unit {  
  /* margin: calc(var(--base-font-size) / 12); */
  border: calc(var(--base-font-size) / 32) solid transparent;
  border-radius: calc(var(--base-font-size) / 8);
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 2px 0 black;
}
.name-unit.selected {
  border-color: white;
}
.name-letter {
  /* padding: calc(var(--base-font-size) / 6);
  padding-top: calc(var(--base-font-size) / 9);
  padding-bottom: calc(var(--base-font-size) / 9); */
  /* outline: 1px solid red; */
  /* min-width: calc(var(--name-font-size) / 1.2); */
}
.name-letter.selected {
  color: red;
  outline: 1px solid white
}
#feedback-title .onsets {
  background-color: var(--onset-color);
}
#feedback-title .nuclei {
  background-color: var(--nucleus-color);
}
#feedback-title .codas {
  background-color: var(--coda-color);
}
#feedback-title .literal {
  box-shadow: none;
  background: #1e1e1e;
}
#feedback-title .repeater {
  color: rgb(134, 134, 140);
}
#feedback-title .literal.space {
  width: var(--small-font-size);
  box-shadow: none;
  background-color: transparent;
}
#feedback-article {
  font-size: var(--medium-font-size);
  max-height: var(--small-font-size);
}
#feedback-selected-display {
  border-radius: var(--common-border-radius);
  border: 0.1rem solid rgb(37, 57, 37);
  font-size: var(--name-font-size);
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  height: 15%;
  margin-bottom: 2vh;
}
#feedback-panel.enter > #feedback-selected-display {
  margin-top: 2vh;
}

.feedback-button-area {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1vh;
}
.feedback-button-area.enter {
  width: 100%;
  flex-grow: 0;
  
  /* grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}
.feedback-button-area.enter > button {
  padding-top: 3vh;
  padding-bottom: 3vh;
  /* grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
}
.feedback-select-toggle {
  font-size: var(--medium-font-size);
  font-family: var(--secondary-font);
  background: rgb(49, 45, 45);
  border-radius: 0.25rem;
  text-align: left;
  display: flex;
  align-items: center;
  height: 100%;
  border: 0.25vh solid rgb(37, 41, 37);
  cursor: pointer;
  background-image: none !important;
  transition: border-color 105ms ease, background-color 210ms ease;
}
.feedback-select-toggle.selected {
  background-color: green !important;
  color: #dedede;
  border-color: white;
}
.feedback-select-toggle.discovered {
  background-color: rgb(106, 111, 6) !important;
  color: #dedede;
  border-color: rgb(240, 255, 228);
  pointer-events: none;
}
.feedback-select-toggle.discovered::after {
  content: 'RULE EXISTS';
  position: absolute;
  right: 2vw;
  width: min-content;
  line-height: 120%;
  text-align: right;
  color: yellow;  
}
.feedback-select-toggle:disabled, #submit-feedback-button:disabled {
  color: gray;
  background-color: #444;
  pointer-events: none;
}
#feedback-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 11vh;
}
#feedback-footer button {
  margin: 3vw;
  font-size: var(--nav-font-size) !important;
}
#feedback-panel.hidden {
  /* transform: scaleX(0.7) scaleY(0.1); */
  transition-duration: 105ms;
  transform: scaleX(0.9) scaleY(0.75);
  opacity: 0;
  /* pointer-events: none; */
}
.followers-selection {
  /* box-sizing: content-box; */
  border: 2px solid transparent;
  padding: 0;
}
.followers-selection.selected-green {
  border-color: green;
}
.followers-selection.selected-red {
  border-color: red;
}
.large-input.sequence {
  animation: flash;
  animation-duration: 150ms;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  caret-color: transparent;
  font-size: var(--large-font-size);
}
.large-input.sequence:not(.focused) {
  outline: none;  
}
.large-input.sequence.focused::placeholder {
  color: rgb(69, 69, 69);
}
.large-input.sequence.focused {
  animation-play-state: running;
  outline: 2px solid;
}
#submit-preceder-input.focused {
  background: rgba(0, 128, 0, 0.025);
}
#submit-follower-input.focused {
  background: rgba(128, 0, 0, 0.025);
}
#submit-follower-input {
  border-color: rgb(54, 0, 0);
}

@keyframes flash {
  0% {
    outline-color: transparent;
  }
  100% {
    outline-color: #ffffff99;
  }
}
