#history-screen {
  /* padding: 3vmin; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: black;
  z-index: 1;
  transition: transform 210ms ease, opacity 210ms ease;
}
#history-screen.hidden {
  opacity: 0;
  pointer-events: none;
  transform: scaleX(1.1);
}
#history-count-display {
  /* display: flex; */

}
#history-list {
  font-size: calc(var(--small-font-size) * 0.9);
  padding-top: 3vh;
  padding-bottom: 3vh;
  /* margin-bottom: 3vmin; */
  /* min-width: 90vw;
  max-width: 90vw; */
  /* padding-left: 2vmin;
  padding-right: 2vmin; */
  width: 100vw;
  flex-grow: 1;
  display: grid;
  align-content: start;
  justify-items: center;
  justify-content: center;  
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--small-font-size) * 10), max-content));
  grid-gap: 0.5vmin;
  overflow-y: auto;
  min-height: 0;
  scroll-behavior: smooth;
  margin-bottom: 11vh;
}
#history-list > div {
  cursor: pointer;
}
#generate-more-button {
  background-color: var(--special-button-color);
  width: 32vw
}
.listed-name {
  display: flex;
  height: calc(var(--small-font-size) * 2.5);
  align-items: center;
  padding-left: 2vmin;
  padding-right: 2vmin;
  background: #090909;
  width: 100%;
}
.listed-name:nth-child(2n) {
  background: #121212;
}
.listed-name.highlighted {
  border: 1px solid white;
}
.listed-name:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.025), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.025));
}