#title-footer {
  background-color: #040404;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: var(--title-font);
  padding: 1vw;
  padding-left: 3vw;
  padding-right: 3vw;
  align-self: start;
  font-size: var(--large-font-size);
  color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 120%;
  height: calc(var(--medium-font-size) * 4);
}
i {
  margin-right: 3vmin;
}
#title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
#title-text {
  font-size: var(--medium-font-size);
  color: rgb(125, 78, 78);
}
#title-text.logged-in {
  font-size: var(--large-font-size);
  color: var(--button-color);
}
#tally-text {
  font-size: var(--medium-font-size);
  font-family: var(--secondary-font);
  transition: opacity 210ms ease;
}
#github-icon {
  opacity: 0.35;
  width: 2.75vh;
  height: 2.75vh;
  cursor: pointer;
}
#mail-icon {
  cursor: pointer;
}