button {
  font-family: 'Bungee';
  border-radius: 0.75rem;
  font-size: 1.2rem;
  background-color: rgb(49, 155, 49);
  border: 0.25rem solid rgb(7, 46, 7);
  padding: 15%;
  color: white;
  line-height: 100%;
  cursor: pointer;
  outline: none;
  animation-duration: 210ms;
  animation-iteration-count: infinite;
  transition: border-color 105ms ease, background-color 105ms ease;
}
button.busy {
  border-color: pink !important;
  animation-name: busy-button;
}
.style-button {
  font-family: 'Nova Square';
  width: 100%;
  padding: 1.25vh;
  padding-top: 1.75vh;
  padding-bottom: 1.75vh;
  background-color: #222;
  border-radius: 0.5rem;
  transition: background-color 210ms ease;
  border-width: 3px;
  font-size: 0.8rem;
}
.style-button.selected {
  background-color: #666;
}
#random-button {
  grid-column-start: 0;
  grid-column-end: span 3;
}
.mode-toggle-button {
  font-family: 'Nova Square';
  width: 44%;
  background-color: rgb(104, 74, 74);
  border-radius: 1vmin;
  padding: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  border: 2px solid rgb(126, 84, 84);;  
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 0.7rem;
  transition: border-color 105ms ease;
}
.mode-toggle-button.selected {
  background-color: rgb(83, 114, 85);
  border-color: red;  
}
.mode-toggle-button:after {
  content: 'OFF';
}
.mode-toggle-button.selected:after {
  content: 'ON';
}

@keyframes busy-button {
  0% {
    border-color: white;
  }
  100% {
    border-color: red;
  }
}